[Unit]
Description=Process Monitor Timer (runs every minute)
Requires=process-monitor.service

[Timer]
OnActiveSec=0
OnUnitActiveSec=1min
AccuracySec=1s

[Install]
WantedBy=timers.target

